.info__container {
    height: 700px;
}
.calendar_placeholder {
    top: 20px;
}
.calendar_body {
    padding: 20px;
}
.rbc-time-view {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.rbc-toolbar .rbc-btn-group{
background-color: #fff
}
