.doctorlegend__container {
    width: 390px;
    border-radius: 5px!important;
    margin: 20px 0px 20px 20px;
}

.doctorlegend__white {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.doctorlegend__red {
    box-sizing: border-box;
    background-color: #f2bdbe;
    height: 30px;
    width: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.doctorlegend__grey {
    box-sizing: border-box;
    background-color: #f6f6f6;
    height: 30px;
    width: 40px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.doctorlegend__blue {
    box-sizing: border-box;
    background-color: #eaf6ff;
    height: 30px;
    width: 40px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.doctorlegend__icons {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.doctorlegend__icons div {
    margin: 2px;
    display: flex;
    align-items: center;
}
.doctorlegend__icons div p {
    margin-left: 10px;
}