.landing__container {
    background-color: rgb(106, 106, 255);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
}
.landing__container h1 {
    margin: 0;
    padding: 100px 30px;
    align-self: center;
}
.landing__container p {
padding: 30px;
align-self: center;
}

.landing__calendar {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landing__left ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.landing__left ul li {
    margin-bottom: 20px;
}