.signIn__container {
    max-width: 400px;
    padding: 15px;
    flex-flow: row wrap;
    text-align: center;
}
.signIn__container h1 {
    color: #4886ff;
    text-align: center;
}
.signIn__container p {
    color: #909090;
}
.signIn__input {
    flex-grow: 1;
    width: 80%;
    margin-bottom: 20px;
}
.signIn__center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    top: 30vh;
}